<template>
    <div class="ciudadconsultarmodificar-main-component">
        <div class="ciudadconsultarmodificar-content">
            <h2>Consultar/Modificar Ciudad</h2>
            <br>
            <form class="ciudadconsultarmodificar-form1" v-on:submit.prevent="">
              <label>ID: </label>
              <input type="number" v-model="ciudad.id">
              <button type="submit" v-on:click="processCiudadConsultar">Consultar</button>
            </form>
            <br>
            <hr class="new4">
            <br>
            <form class="ciudadconsultarmodificar-form2" v-on:submit.prevent="">
              <label>Nombre: </label>
              <input type="text" v-model="ciudad.nombre">                
              <br>
              <div class="ciudadconsultarmodificar-content-button">
                <button type="submit" v-if="ciudadexists" v-on:click="processCiudadModificar">Modificar</button>
                <button type="submit" v-if="ciudadexists" v-on:click="processCiudadEliminar">Eliminar</button>
              </div>
            </form>
        </div>
    </div>
</template>

<script>
import gql from "graphql-tag";

export default {
    name: "CiudadConsultarModificar",

    data: function(){
      return {
        ciudadexists: false,
        ciudad: {
          id: "",
          nombre: ""
        }
      }
    },

    methods:{
      clearData: function(data) {
        this.ciudad.nombre = "";
        this.ciudadexists = false;
      },

      processCiudadConsultar: async function(){
        this.clearData();
        let ciudadId = this.ciudad.id;

        if (
            localStorage.getItem("token_access") === null ||
            localStorage.getItem("token_refresh") === null
        ) {
            this.$emit("logOut");
            return;
        }
        localStorage.setItem("token_access", "");
        await this.$apollo
        .query({
          query: gql`
            query CiudadById($ciudadid: Int!) {
                ciudadById(ciudadid: $ciudadid) {
                    id
                    nombre
                }
            }
          `,
          variables: {
            ciudadid: this.ciudad.id,
          },
        })
        .then(
          response => {
            this.ciudad.nombre = response.data.ciudadById.nombre;
            this.ciudadexists = true;
        })
        .catch(function(error){
            console.log(error)
            alert("Error consultando la ciudad.");
        })
      },

      processCiudadModificar: async function(){
        let ciudadId = this.ciudad.id;
        await this.$apollo
        .mutate({
          mutation: gql`
            mutation UpdateCiudad($ciudadInput: CiudadInput!) {
                updateCiudad(ciudadInput: $ciudadInput) {
                    id
                    nombre
                }
            }
          `,
          variables: {
            ciudadInput: this.ciudad,
          },
        })
        .then((response) => {
            alert("Ciudad actualizada correctamente.");
            this.ciudadexists = false;
            this.clearData();
        })
        .catch((error) => {
            console.log(error)
            alert("Error actualizando la ciudad.");
        });
      },

      processCiudadEliminar: async function(){
        let ciudadId = this.ciudad.id;
        await this.$apollo
        .mutate({
          mutation: gql`
            mutation Mutation($ciudadid: Int!) {
              deleteCiudad(ciudadid: $ciudadid)
            }
          `,
          variables: {
            ciudadid: this.ciudad.id,
          },
        })
        .then((response) => {
            alert("Ciudad eliminada correctamente.");
            this.ciudadexists = false;
            this.clearData();
        })
        .catch((error) => {
            console.log(error)
            alert("Error eliminando la ciudad.");
        });
      },      
    },

    created: function(){
        if (localStorage.getItem("ciudadid") != null && localStorage.getItem("ciudadid") != ""){
          this.ciudad.id = parseInt(localStorage.getItem("ciudadid"));
          this.processCiudadConsultar();
        }
        
        let dataCiudadConsultarModificar = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown',
                        vehiculo: 'dropdown',
                        ciudad: 'dropdown active',
                        ruta: 'dropdown',
                        tarifa: 'dropdown',
                        consulta: 'dropdown',
                        ventas: 'dropdown',
                        login: '',
                        signup: '',
                    }
        this.$emit('completedCiudadConsultarModificar', dataCiudadConsultarModificar)
    },
}
</script>

<style>
  .ciudadconsultarmodificar-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
  }
  .ciudadconsultarmodificar-content{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ciudadconsultarmodificar-content h2{
    text-align: center;
  }
  .ciudadconsultarmodificar-content .new4{
    border-inline: 160px solid #35BEAC;
  }
  .ciudadconsultarmodificar-content .ciudadconsultarmodificar-form1{
    width: 70%;
  }
  .ciudadconsultarmodificar-content .ciudadconsultarmodificar-form1 label{
    display: inline-block;
    width: 30px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .ciudadconsultarmodificar-content .ciudadconsultarmodificar-form1 input{
    display: inline-block;
    width: 30%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .ciudadconsultarmodificar-content .ciudadconsultarmodificar-form1 button{
    display: inline-block;
    width: 40%;
    height: 25px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 0 5px 0;
    justify-content: center;
    font-weight: bold;
  }
  .ciudadconsultarmodificar-content .ciudadconsultarmodificar-form1 button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
  .ciudadconsultarmodificar-content .ciudadconsultarmodificar-form2 label{
    display: inline-block;
    width: 80px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .ciudadconsultarmodificar-content .ciudadconsultarmodificar-form2 input{
    display: inline-block;
    width: 60%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .ciudadconsultarmodificar-content-button{
    text-align: center;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
  }
  .ciudadconsultarmodificar-content .ciudadconsultarmodificar-form2 button{
    display: inline-block;
    width: 40%;
    height: 25px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 0 5px 0;
    justify-content: center;
    font-weight: bold;
  }
  .ciudadconsultarmodificar-content .ciudadconsultarmodificar-form2 button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
</style>