<template>
    <div class="ciudadcrear-main-component">
        <div class="ciudadcrear-content">
            <h2>Crear Ciudades</h2>
            <br>
            <form class="ciudadcrear-form" v-on:submit.prevent="processCiudadCrear">
              <label>Id: </label>
              <input type="number" v-model="ciudad.id">
              <br>
              <label>Nombre: </label>
              <input type="text" v-model="ciudad.nombre">        
              <br>
              <dir class="ciudadcrear-content-button">
                <button type="submit">Crear</button>
              </dir>
            </form>
        </div>
    </div>
</template>

<script>
import gql from "graphql-tag";

export default {
    name: "CiudadCrear",

    data: function(){
      return {
        ciudad: {
          id: 0,
          nombre: ""
        }
      }
    },

    methods: {
      clearData: function(data) {
        this.ciudad.id = 0;
        this.ciudad.nombre = ""
      },

      processCiudadCrear: async function(){
       
        await this.$apollo
        .mutate({
          mutation: gql`
            mutation createCiudad($ciudad: CiudadInput) {
                createCiudad(ciudadInput: $ciudad) {
                    id
                    nombre
                }
            }
          `,
          variables: {
            ciudad: this.ciudad,
          },
        })
        .then((response) => {
            let dataCiudadCrear = {
                inicio: '',
                rol: 'dropdown',
                usuario: 'dropdown',
                tipovehiculo: 'dropdown',
                vehiculo: 'dropdown',
                ciudad: 'dropdown active',
                ruta: 'dropdown',
                tarifa: 'dropdown',
                consulta: 'dropdown',
                compra: 'dropdown',
                login: '',
                signup: '',
            }
            alert("La ciudad ha sido creada exitosamente.");
            this.clearData();
            this.$emit('processedCiudadCrear', dataCiudadCrear)
        })
        .catch((error) => {
            console.log(error)
            alert("Error en la creacion de la ciudad.");
        });
      }
    },

    created: function(){
        let dataCiudadCrear = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown',
                        vehiculo: 'dropdown',
                        ciudad: 'dropdown active',
                        ruta: 'dropdown',
                        tarifa: 'dropdown',
                        consulta: 'dropdown',
                        ventas: 'dropdown',
                        login: '',
                        signup: '',
                    }
        this.$emit('completedCiudadCrear', dataCiudadCrear)
    },
}
</script>

<style>
  
  .ciudadcrear-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
  }
  .ciudadcrear-content{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ciudadcrear-content h2{
    text-align: center;
  }
  .ciudadcrear-content .ciudadcrear-form{
    width: 70%;
  }
  .ciudadcrear-content label{
    display: inline-block;
    width: 80px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .ciudadcrear-content input{
    display: inline-block;
    width: 60%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .ciudadcrear-content-button{
    text-align: center;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
  }
  .ciudadcrear-content button{
    display: inline-block;
    width: 80%;
    height: 40px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
    justify-content: center;
    font-weight: bold;
  }
  .ciudadcrear-content button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
</style>