<template>
    <div id="home-main-component">
        <div class="main-content">
            <h2>Bienvenidos</h2>
            <p>Grupo de Programacion P66 - Grupo de trabajo 7</p>
            <br>
            <p>Aplicación para el control de un sistema de transporte de pasajeros, 
                incluyendo los vehículos, las rutas y las tarifas de esas rutas que se ofrecerán; 
                donde los usuario se podrán registrar, consultar información y 
                hacer la compra de sus tiquetes para la ruta seleccionada</p>
        </div>
    </div>
</template>


<script>

export default {
    name: "Home",

    data: function(){
    },

    created: function(){
        let dataHome = {
                        inicio: 'active',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown',
                        vehiculo: 'dropdown',
                        ciudad: 'dropdown',
                        ruta: 'dropdown',
                        tarifa: 'dropdown',
                        consulta: 'dropdown',
                        ventas: 'dropdown',
                        login: 'dropdown',
                        signup: 'dropdown',
                    }
        this.$emit('completedHome', dataHome)
    },
}
</script>

<style>
  body{
    margin: 0 0 0 0;
  }
  #home-main-component{
    z-index: 1;
    font-family:'Arial';
  }
  #home-main-component::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
    width:100%;
    opacity: 0.5;
    background-image: url('../img/viajes.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter:alpha(opacity=50);
  }
  .main-content{
    margin: 5% 10% 5% 10%;
    font-weight: bold;
    color: #000000;
    z-index:-1;
    opacity: 1;
    filter:alpha(opacity=100);
  }
  .main-content h2{
    text-align: center;
  }
</style>