<template>
  <div  class="informationRol">
    <h1>Información de los Roles</h1>    

        <table>
              <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Estado</th>
                      <th>Acciones</th>
                      
                      
            </tr>
           
            <tr v-for="ListaRoles in LR"> 
                     <td>{{ListaRoles.Id}}</td>
                     <td>                         
                         <span v-if="formActualizar==true && ListaRoles.Id==Rol.Id"><input type="text" v-model="Rol.Nombre"></span>
                         <span v-else> {{ListaRoles.Nombre}} </span>
                     
                     </td>
                     <td>
                         <span v-if="formActualizar==true && ListaRoles.Id==Rol.Id">
                             <input type="text" v-model="Rol.Estado">
                         </span>
                         <span v-else> 
                             {{ListaRoles.Estado}}
                              </span>                        
                     </td> 
                     <td>
                         <span v-if="formActualizar==true && ListaRoles.Id==Rol.Id">
                            <button style="margin: 2px" type="submit" v-on:click="EditRol(ListaRoles.Id)">Guardar</button>
                            <button style="margin: 2px" type="submit" v-on:click="cancelar">Cancelar</button>
                         </span>    
                         <span v-else> 
                            <button style="margin: 2px" type="submit" v-on:click="selectEditDatosRol(ListaRoles.Id,ListaRoles.Nombre,ListaRoles.Estado)">Editar</button>
                            <button style="margin: 2px" type="submit" v-on:click="deleteRol(ListaRoles.Id)">Eliminar</button>
                         </span>
                     </td>                     
                     
             </tr>
            <tr>         
                
            </tr>
          
        </table>

   
<!--<h2>
        <h2>
            Nombre:  <span>{{ListaRoles.Nombre}}</span>
        </h2>
        <h2>
             Estado:  <span>{{ListaRoles.Nombre}}</span>
        </h2>


    </div>
    
      Nombre:  <span>{{LR[0].Nombre}}</span>
    </h2>
    <h2>
      Estado:  <span>{{LR[0].Estado}}</span>
    </h2>
    <h2>
      Nombre:  <span>{{LR[1].Nombre}}</span>
    </h2>
    <h2>
      Estado:  <span>{{LR[1].Estado}}</span>
    </h2>
    -->
  </div>
</template>

<script>
/*import axios from "axios";

export default {
    name: "ConsultaRoles",

    data: function() {
        return {
            LR :[],
            Rol:{
                Id:"",
                Nombre:"",
                Estado:""
            },
            //Llave para activar el campos de actualizar
            formActualizar: false,
        }
    },
    methods:{

        selectRol:function(){
            axios
            .get("https://viajes-mintic-2022-be.herokuapp.com/rol/")
            .then((response)=> { 
                 this.LR= response.data
            })
            .catch((error)=>{
                 alert("Error consultando los roles");
                console.log(error)
        })
        },

        deleteRol(Id){
            
            axios
            .delete("https://viajes-mintic-2022-be.herokuapp.com/rol/del/"+Id+"/")
            .then((response)=> { 
                alert("Rol Eliminado Exitosamente");
                this.selectRol()

            })
            .catch((error)=>{
                alert("Error Eliminando los roles");
                console.log(error)
            })
        } ,
                
        selectEditDatosRol(Id,Nombre,Estado){
                
                this.Rol.Id= Id;
                this.Rol.Nombre=Nombre;
                this.Rol.Estado=Estado
                // Mostramos el formulario
                this.formActualizar = true;
        },

        EditRol(Id){

            axios
            .put("https://viajes-mintic-2022-be.herokuapp.com/rol/up/"+Id+"/",this.Rol)
            .then((response)=> { 
                alert("Rol Actualizado Exitosamente");
                this.formActualizar = false;
                this.selectRol()

            })
            .catch((error)=>{
                alert("Error Actualizado el Rol seleccionado");
                console.log(error)
            })  
        },

        cancelar(){
            this.formActualizar = false;
        }
        

    },
    created:function(){
        this.selectRol()

        let dataRolConsultar = {
                        inicio: '',
                        rol: 'dropdown active',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown',
                        vehiculo: 'dropdown',
                        ruta: 'dropdown ',
                        tarifa: 'dropdown',
                        consulta: 'dropdown',
                        compra: 'dropdown',
                        login: '',
                        signup: '',
                    }
        this.$emit('completedRolConsultar', dataRolConsultar)
        
    }
}*/
</script>

<style>
.informationRol {
  margin: 0;
  padding: 0%;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informationRol h1 {
  font-size: 40px;
  color: #4c4c5c;
}


.informationRol table {

  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

 .informationRol td {
    border: 1px solid #ddd;
    padding: 8px;

}

.informationRol th  {
    border: 1px solid #ddd;
    padding: 8px;

    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #35BEAC;
    color: white;

}
.informationRol tr:nth-child(even){
    background-color: #f2f2f2;
    }

.informationRol tr:hover {
    background-color: #ddd;
    }

.informationRol input {
        
        font-weight: bold;
        height: 25px;
        width: 60%;

        box-sizing: border-box;
        /*padding: 10px 20px;*/
        /*margin: 5px ;*/

        border: 1px solid #283747;
       
    }

   
 
.informationRol button{
        width: 25%;
        height: 30px;

        color: #E5E7E9;
        background: #35BEAC;
        border: 1px solid #E5E7E9;

        border-radius: 5px;
        /*padding: 10px 25px;
        margin: 5px 0 25px 0; */  
    }

.informationRol button:hover{
        color: #E5E7E9;
        background: rgb(9, 216, 181);
        border: 1px solid #283747;
    }


</style>
