<template>
<div class="CreateRol">
    <div class="container_CreateRol">
        <h1>Crear Roles</h1>
        <br>
        <form v-on:submit.prevent="">
            <p>
            <span>Nombre del Rol:  </span>
            <input type="text" v-model="Rol.Nombre">
            </p>
            <p>
            <span>Estado del Rol:  </span> 
            <br>           
            <select name="Estado"  v-model="Rol.Estado" >
                <option value="True" >Activo</option>
                <option value="False" >Inactivo</option>
            </select>
            <br>
            </p>
            <button type="submit" v-on:click="crearRol">Crear</button>

        </form>
    </div>
</div>

</template>

<script>
/*import axios from "axios"

export default {
    name: "RolCrear",

    data:function (){ 
        return{
          Rol:{
            Nombre:"",
            Estado:""
          }
        }
    },

    methods:{
        crearRol: function() {

            //http://127.0.0.1:8000/rol/create/
            axios.post("https://viajes-mintic-2022-be.herokuapp.com/rol/create/", this.Rol)
            .then((response) => {
                this.Rol.Nombre = ''; 
                this.Rol.Estado = '';                 
                alert("Rol creado exitosamente");
                
            })
            .catch((error)=>{
                alert("Error creando el Rol");
                console.log(error)
            })  
        }
    },

    created:function(){
        let dataRolCrear = {
                        inicio: '',
                        rol: 'dropdown active',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown',
                        vehiculo: 'dropdown',
                        ruta: 'dropdown ',
                        tarifa: 'dropdown',
                        consulta: 'dropdown',
                        compra: 'dropdown',
                        login: '',
                        signup: '',
                    }
        this.$emit('completedRolCrear', dataRolCrear)
    }



}*/
</script>

<style>

    .CreateRol{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
    
        display: flex;
        justify-content: center;
        
        
    }

    .container_CreateRol{
        
        border-radius: 10px;
        width: 25%;
        height: 60%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .CreateRol h1{
         font-size: 40px;
         color: #4c4c5c;

    }

    .CreateRol form{
        width: 90%;
        font-family: Arial, Helvetica, sans-serif;
        
    }

    .CreateRol input{
        height: 45px;
        width: 100%;

        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;

        border: 1px solid #283747;
    }

    .CreateRol select {
        font-family: Arial, Helvetica, sans-serif;
        height: 45px;
        width: 100%;

        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;

        border: 1px solid #283747;


    }
    
    .CreateRol span{
        color: 283747;
        font-weight: bolder;
        
        
    }

      .CreateRol button{
        width: 100%;
        height: 50px;

        color: #E5E7E9;
        background: #35BEAC;
        border: 1px solid #E5E7E9;

        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
    }

    .CreateRol button:hover{
        color: #E5E7E9;
        background: rgb(14, 173, 147);
        border: 1px solid #283747;
    }

</style>