<template>

    <div class="signUp_user">
        <div class="container_signUp_user">
            <h2>Registrarse</h2>

            <form v-on:submit.prevent="processSignUp" >
                <input type="text" v-model="user.username" placeholder="Usuario">
                <br>
                
                <input type="password" v-model="user.password" placeholder="Contraseña">
                <br>

                <input type="text" v-model="user.tipoidentificacion" placeholder="Tipo Identificación">
                <br>

                <input type="number" v-model="user.id" placeholder="Identificacion">
                <br>
                
                <input type="text" v-model="user.nombre" placeholder="Nombre">
                <br>

                <input type="text" v-model="user.apellido" placeholder="apellido">
                <br>

                <input type="number" v-model="user.celular" placeholder="Celular">
                <br>

                <input type="email" v-model="user.email" placeholder="Correo">
                <br>

                <button type="submit">Registrarse</button>
            </form>
        </div>

    </div>

</template>

<script>
import gql from "graphql-tag";

export default {
    name: "SignUp",

    data: function(){
        return {
            user: {
                username: "",
                password: "",
                tipoidentificacion: "",
                id: "",
                nombre: "",
                apellido: "",
                celular: "",
                email: "",
                rolid: 0,
                estado: "A",
            }
        }
    },

    methods: {
        processSignUp: async function(){
            await this.$apollo
                .mutate({
                    mutation: gql`
                        mutation($userInput: SignUpInput!) {
                            signUpUser(userInput: $userInput) {
                                refresh
                                access
                            }
                        }
                    `,
                    variables: {
                        userInput: this.user,
                    },
                })
                .then((result) => {
                    let dataSignUp = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    };
                    
                    this.$emit('completedSignUp', dataSignUp);
                })
                .catch((error) => {
                    console.log(error)
                    alert("Error en el resgistro.");
                });
        }
    },

    created: function(){
        let dataSignUp = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown',
                        vehiculo: 'dropdown',
                        ciudad: 'dropdown',
                        ruta: 'dropdown',
                        tarifa: 'dropdown',
                        consulta: 'dropdown',
                        ventas: 'dropdown',
                        login: '',
                        signup: 'active',
                    }
        this.$emit('loadedSignUp', dataSignUp)
    },
}
</script>

<style>
    .signUp_user{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family:'Arial';
    }

    .container_signUp_user {
        width: 25%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .signUp_user h2{
        color: #283747;
    }

    .signUp_user form{
        width: 70%;        
    }

    .signUp_user input{
        display: inline-block;
        width: 100%;
        height: 35px;
        box-sizing: border-box;
        margin: 3px 0;
    }

    .signUp_user button{
        display: inline-block;
        width: 100%;
        height: 40px;
        color: #E5E7E9;
        background: #35BEAC;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
        justify-content: center;
        font-weight: bold;
    }

    .signUp_user button:hover{
        color: #E5E7E9;
        background: #058d7b;
        border: 1px solid #283747;
    }

</style>