<template>
    <div class="tarifas-main-component">
        <div class="tarifas-content">
            <h2>Tarifas</h2>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr class="trHeader">
                        <th> </th>
                        <th> Id</th>
                        <th> Vehículo</th>
                        <th> Ruta</th>
                        <th> Costo</th>
                        <th> Estado</th>
                    </tr>
                </thead>
                <tr class="trData" v-for="tarifas in tarifas" v-on:click="processTarifaConsultar(tarifas.id)">
                    <td v-for="tarifa in tarifas" >
                        {{ tarifa }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script >
import gql from "graphql-tag";

	export default {
		data: function(){
			return {
				tarifas: []
			}
		},
        methods: {
            processTarifaConsultar: function(tarifaid){
                this.$emit('processTarifaConsultar', tarifaid)
            },

            processTarifas: async function(){
                if (
                    localStorage.getItem("token_access") === null ||
                    localStorage.getItem("token_refresh") === null
                ) {
                    this.$emit("logOut");
                    return;
                }
                localStorage.setItem("token_access", "");
                await this.$apollo
                .query({
                    query: gql`
                        query TarifaAll {
                            tarifaAll {
                                id
                                vehiculo
                                ruta
                                costo
                                estado
                            }
                        }
                    `,
                    variables: {
                    },
                })
                .then(
                    response => {
                        this.tarifas = response.data.tarifaAll
                        console.log(response)
                    })
                .catch(function(error){
                    console.log(error)
                })
            }
        },
		created () {
			this.processTarifas();
            let dataTarifas = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown',
                        vehiculo: 'dropdown',
                        ciudad: 'dropdown',
                        ruta: 'dropdown',
                        tarifa: 'dropdown',
                        consulta: 'dropdown active',
                        ventas: 'dropdown',
                        login: '',
                        signup: '',
                    }
            this.$emit('completedTarifas', dataTarifas)
		}
	}
</script>

<style type="text/css">
.tarifas-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
}
.tarifas-content{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}	
.tarifas-content ul{
    list-style: none;
}
.tarifas-content li{
    display: inline;
}
.tarifas-content table{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	margin: 0 auto;
	width: 50%;
	line-height: 25px;
}
.tarifas-content table th{
	background: #35BEAC;
	-webkit-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	border-bottom: 3pt solid #35BEAC;
}
.tarifas-content table th:first-child{
	padding: 10px;
	text-align: left;
}
.tarifas-content table th:nth-last-child(-n+2){
	text-align: center;
}
.tarifas-content tr{
	background: #d1f3ef;
	opacity: 0.8;
}
.tarifas-content .trData:hover{
	opacity: 1;
}
.tarifas-content tr td:first-child{
	text-align: left;
}
.tarifas-content tr td:nth-last-child(-n+2){
	text-align: center;
}
.tarifas-content td{
	padding: 5px;
	color:black;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.tarifas-content .trData:nth-last-child(-n+10):hover{
	transform: scale(1.2);
}
</style>