<template>
    <div class="tarifaconsultarmodificar-main-component">
        <div class="tarifaconsultarmodificar-content">
            <h2>Consultar/Modificar Tarifas</h2>
            <br>
            <form class="tarifaconsultarmodificar-form1" v-on:submit.prevent="">
              <label>ID: </label>
              <input type="number" v-model="tarifa.id">
              <button type="submit" v-on:click="processTarifaConsultar">Consultar</button>
            </form>
            <br>
            <hr class="new4">
            <br>
            <form class="tarifaconsultarmodificar-form2" v-on:submit.prevent="">
              <label>Vehículo: </label>
              <input type="number" v-model="tarifa.vehiculo">
              <br>
              <label>Ruta: </label>
              <input type="number" v-model="tarifa.ruta">
              <br>
              <label>Costo: </label>
              <input type="number" v-model="tarifa.costo">
              <br>
              <label>Estado: </label>
              <input type="text" v-model="tarifa.estado" placeholder="A/I">
              <br>
              <br>
              <div class="tarifaconsultarmodificar-content-button">
                <button type="submit" v-if="tarifaexists" v-on:click="processTarifaModificar">Modificar</button>
                <button type="submit" v-if="tarifaexists" v-on:click="processTarifaEliminar">Eliminar</button>
              </div>
            </form>
        </div>
    </div>
</template>

<script>
import gql from "graphql-tag";

export default {
    name: "TarifaConsultarModificar",

    data: function(){
      return {
        tarifaexists: false,
        tarifa: {
          id: "",
          vehiculo: "",
          ruta: "",
          costo: "",
          estado: ""
        }
      }
    },

    methods:{
      clearData: function(data) {
        this.tarifa.vehiculo = "";
        this.tarifa.ruta = "";
        this.tarifa.costo = "";
        this.tarifa.estado = "";
        this.tarifaexists = false;
      },

      processTarifaConsultar: async function(){
        this.clearData();
        let tarifaId = this.tarifa.id;

        if (
            localStorage.getItem("token_access") === null ||
            localStorage.getItem("token_refresh") === null
        ) {
            this.$emit("logOut");
            return;
        }
        localStorage.setItem("token_access", "");
        await this.$apollo
        .query({
          query: gql`
            query TarifaById($tarifaid: Int!) {
                tarifaById(tarifaid: $tarifaid) {
                    id
                    vehiculo
                    ruta
                    costo
                    estado
                }
            }
          `,
          variables: {
            tarifaid: this.tarifa.id,
          },
        })
        .then(
          response => {
            this.tarifa.vehiculo = response.data.tarifaById.vehiculo;
            this.tarifa.ruta = response.data.tarifaById.ruta;
            this.tarifa.costo = response.data.tarifaById.costo;
            this.tarifa.estado = response.data.tarifaById.estado;
            this.tarifaexists = true;
        })
        .catch(function(error){
            console.log(error)
            alert("Error consultando la tarifa.");
        })
      },

      processTarifaModificar: async function(){
        let tarifaId = this.tarifa.id;
        await this.$apollo
        .mutate({
          mutation: gql`
            mutation UpdateTarifa($tarifaInput: TarifaInput!) {
                updateTarifa(tarifaInput: $tarifaInput) {
                    id
                    vehiculo
                    ruta
                    costo
                    estado
                }
            }
          `,
          variables: {
            tarifaInput: this.tarifa,
          },
        })
        .then((response) => {
            alert("Tarifa actualizada correctamente.");
            this.tarifaexists = false;
            this.clearData();
        })
        .catch((error) => {
            console.log(error)
            alert("Error actualizando la tarifa.");
        });
      },

      processTarifaEliminar: async function(){
        let tarifaId = this.tarifa.id;
        await this.$apollo
        .mutate({
          mutation: gql`
            mutation Mutation($tarifaid: Int!) {
              deleteTarifa(tarifaid: $tarifaid)
            }
          `,
          variables: {
            tarifaid: this.tarifa.id,
          },
        })
        .then((response) => {
            alert("Tarifa eliminada correctamente.");
            this.tarifaexists = false;
            this.clearData();
        })
        .catch((error) => {
            console.log(error)
            alert("Error eliminando la tarifa.");
        });
      },      
    },

    created: function(){
        if (localStorage.getItem("tarifaid") != null && localStorage.getItem("tarifaid") != ""){
          this.tarifa.id = parseInt(localStorage.getItem("tarifaid"));
          this.processTarifaConsultar();
        }
        
        let dataTarifaConsultarModificar = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown',
                        vehiculo: 'dropdown',
                        ciudad: 'dropdown',
                        ruta: 'dropdown',
                        tarifa: 'dropdown active',
                        consulta: 'dropdown',
                        ventas: 'dropdown',
                        login: '',
                        signup: '',
                    }
        this.$emit('completedTarifaConsultarModificar', dataTarifaConsultarModificar)
    },
}
</script>

<style>
  .tarifaconsultarmodificar-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
  }
  .tarifaconsultarmodificar-content{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tarifaconsultarmodificar-content h2{
    text-align: center;
  }
  .tarifaconsultarmodificar-content .new4{
    border-inline: 160px solid #35BEAC;
  }
  .tarifaconsultarmodificar-content .tarifaconsultarmodificar-form1{
    width: 70%;
  }
  .tarifaconsultarmodificar-content .tarifaconsultarmodificar-form1 label{
    display: inline-block;
    width: 30px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .tarifaconsultarmodificar-content .tarifaconsultarmodificar-form1 input{
    display: inline-block;
    width: 30%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .tarifaconsultarmodificar-content .tarifaconsultarmodificar-form1 button{
    display: inline-block;
    width: 40%;
    height: 25px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 0 5px 0;
    justify-content: center;
    font-weight: bold;
  }
  .tarifaconsultarmodificar-content .tarifaconsultarmodificar-form1 button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
  .tarifaconsultarmodificar-content .tarifaconsultarmodificar-form2 label{
    display: inline-block;
    width: 80px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .tarifaconsultarmodificar-content .tarifaconsultarmodificar-form2 input{
    display: inline-block;
    width: 60%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .tarifaconsultarmodificar-content-button{
    text-align: center;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
  }
  .tarifaconsultarmodificar-content .tarifaconsultarmodificar-form2 button{
    display: inline-block;
    width: 40%;
    height: 25px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 0 5px 0;
    justify-content: center;
    font-weight: bold;
  }
  .tarifaconsultarmodificar-content .tarifaconsultarmodificar-form2 button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
</style>