<template>
    <div class="tarifacrear-main-component">
        <div class="tarifacrear-content">
            <h2>Registrar tarifas</h2>
            <br>
            <form class="tarifacrear-form" v-on:submit.prevent="processTarifaCrear">
              <label>Id: </label> 
              <input type="number" v-model="tarifa.id">
              <br>
              <label>Vehículo: </label>
              <input type="number" v-model="tarifa.vehiculo">
              <br>
              <label>Ruta: </label>
              <input type="number" v-model="tarifa.ruta">
              <br>
              <label>Costo: </label>
              <input type="number" v-model="tarifa.costo">
              <br>
              <label>Estado: </label>
              <input type="text" v-model="tarifa.estado" placeholder="A/I">
              <br>
              <br>
              <dir class="tarifacrear-content-button">
                <button type="submit">Crear Tarifa</button>
              </dir>
            </form>
        </div>
    </div>
</template>

<script>
import gql from "graphql-tag";

export default {
    name: "TarifaCrear",

    data: function(){
      return {
        tarifa: {
          id: 0,
          vehiculo: 0,
          ruta: 0,
          costo: 0,
          estado: ""
        }
      }
    },

    methods: {
      clearData: function(data) {
        this.tarifa.id = 0;
        this.tarifa.vehiculo = 0;
        this.tarifa.ruta = 0;
        this.tarifa.costo = 0;
        this.tarifa.estado = "";
      },

      processTarifaCrear: async function(){
        if (
          localStorage.getItem("token_access") === null ||
          localStorage.getItem("token_refresh") === null
        ) {
          this.$emit("logOut");
          return;
        }
        localStorage.setItem("token_access", "");
        await this.$apollo
        .mutate({
          mutation: gql`
            mutation CreateTarifa($tarifa: TarifaInput) {
              createTarifa(tarifaInput: $tarifa) {
                id
                vehiculo
                ruta
                costo
                estado
              }
            }
          `,
          variables: {
            tarifa: this.tarifa,
          },
        })
        .then((response) => {
            let dataTarifaCrear = {
                inicio: '',
                rol: 'dropdown',
                usuario: 'dropdown',
                tipovehiculo: 'dropdown',
                vehiculo: 'dropdown',
                ciudad: 'dropdown',
                ruta: 'dropdown',
                tarifa: 'dropdown active',
                consulta: 'dropdown',
                ventas: 'dropdown',
                login: '',
                signup: '',
            }
            alert("Tarifa creada exitosamente");
            this.clearData();
            this.$emit('processedTarifaCrear', dataTarifaCrear)
        })
        .catch((error) => {
            console.log(error)
            alert("Error en la creacion de la tarifa.");
        });
      }
    },

    created: function(){
        let dataTarifaCrear = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown',
                        vehiculo: 'dropdown',
                        ciudad: 'dropdown',
                        ruta: 'dropdown',
                        tarifa: 'dropdown active',
                        consulta: 'dropdown',
                        ventas: 'dropdown',
                        login: '',
                        signup: '',
                    }
        this.$emit('completedTarifaCrear', dataTarifaCrear)
    },
}
</script>

<style>
  
  .tarifacrear-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
  }
  .tarifacrear-content{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tarifacrear-content h2{
    text-align: center;
  }
  .tarifacrear-content .tarifacrear-form{
    width: 70%;
  }
  .tarifacrear-content label{
    display: inline-block;
    width: 80px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .tarifacrear-content input{
    display: inline-block;
    width: 60%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .rutacrear-content-button{
    text-align: center;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
  }
  .tarifacrear-content button{
    display: inline-block;
    width: 80%;
    height: 40px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
    justify-content: center;
    font-weight: bold;
  }
  .tarifacrear-content button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
</style>