<template>
    <div class="tipovehiculocrear-main-component">
        <div class="tipovehiculocrear-content">
            <h2>Crear Tipo de Vehículo</h2>
            <br>
            <form class="tipovehiculocrear-form" v-on:submit.prevent="processTipoVehiculoCrear">
                <label>Id: </label>
                <input type="number" v-model="tipovehiculo.id">
                <br>
                <label>Código:</label>
                <input type="text" v-model="tipovehiculo.codigo"> 
                <br>
                <label>Nombre:</label>
                <input type="text" v-model="tipovehiculo.nombre">
                <br>
                <label>Descripcion:</label>
                <input type="text" v-model="tipovehiculo.descripcion">
                <br>
                <label>Estado:</label>
                <input type="text" v-model="tipovehiculo.estado" placeholder="A/I">     
                <br>
                <br>
                <dir class="tipovehiculocrear-content-button">
                    <button type="submit">Crear</button>
                </dir>
            </form>
        </div>      
    </div>
</template>

<script>
import gql from "graphql-tag";

export default{
    name: "TipoVehiculoCrear",

    data: function(){
      return {
        tipovehiculo: {
          id: 0,
          codigo: "",
          nombre: "",
          descripcion: "",
          estado: ""
        }
      }
    },
    methods: {
        clearData: function(data) {
            this.tipovehiculo.id = 0;
            this.tipovehiculo.codigo = "";
            this.tipovehiculo.nombre = "";
            this.tipovehiculo.descripcion = "";
            this.tipovehiculo.estado = "";
        },

        processTipoVehiculoCrear: async function(){

            await this.$apollo
            .mutate({
                mutation: gql`
                    mutation CreateTipoVehiculo($tipovehiculo: TipoVehiculoInput) {
                        createTipoVehiculo(tipoVehiculoInput: $tipovehiculo) {
                            id
                            codigo
                            nombre
                            descripcion
                            estado
                        }
                    }
                `,
                variables: {
                    tipovehiculo: this.tipovehiculo,
                },

            })
            .then((response) => {
                let dataTipoVehiculoCrear = {
                    inicio: '',
                    rol: 'dropdown',
                    usuario: 'dropdown',
                    tipovehiculo: 'dropdown active',
                    vehiculo: 'dropdown',
                    ciudad: 'dropdown',
                    ruta: 'dropdown',
                    tarifa: 'dropdown',
                    consulta: 'dropdown',
                    ventas: 'dropdown',
                    login: '',
                    signup: '', 
                }
                alert("Tipo Vehículo creado exitosamente");
                this.clearData();
                this.$emit('processedTipoVehiculoCrear', dataTipoVehiculoCrear)
            })
            .catch((error) => {
                console.log(error)
                alert("Error en la creación del tipo de vehículo");
            });
        }
    },

    created: function(){
        let dataTipoVehiculoCrear = {
            inicio: '',
            rol: 'dropdown',
            usuario:'dropdown',
            tipovehiculo: 'dropdown active',
            vehiculo: 'dropdown',
            ciudad: 'dropdown',
            ruta: 'dropdown',
            tarifa: 'dropdown',
            consulta: 'dropdown',
            ventas: 'dropdown',
            login: '',
            signup: '',
        }
        this.$emit('completedTipoVehiculoCrear', dataTipoVehiculoCrear)
    },    
}

</script>

<style>  
  .tipovehiculocrear-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
  }
  .tipovehiculocrear-content{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tipovehiculocrear-content h2{
    text-align: center;
  }
  .tipovehiculocrear-content .tipovehiculocrear-form{
    width: 70%;
  }
  .tipovehiculocrear-content label{
    display: inline-block;
    width: 80px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .tipovehiculocrear-content input{
    display: inline-block;
    width: 60%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .tipovehiculocrear-content-button{
    text-align: center;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
  }
  .tipovehiculocrear-content button{
    display: inline-block;
    width: 80%;
    height: 40px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
    justify-content: center;
    font-weight: bold;
  }
  .tipovehiculocrear-content button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
</style>