<template>
    <div class="tipovehiculoconsultarmodificar-main-component">
        <div class="tipovehiculoconsultarmodificar-content">
            <h2>Consultar/Modificar Tipos de Vehículo</h2>
            <br>
            <form class="tipovehiculoconsultarmodificar-form1" v-on:submit.prevent="">
              <label>ID: </label>
              <input type="number" v-model="tipovehiculo.id">
              <button type="submit" v-on:click="processTipoVehiculoConsultar">Consultar</button>
            </form>
            <br>
            <hr class="new4">
            <br>
            <form class="tipovehiculoconsultarmodificar-form2" v-on:submit.prevent="">
              <label>Código: </label>
              <input type="text" v-model="tipovehiculo.codigo">
              <br>
              <label>Nombre: </label>
              <input type="text" v-model="tipovehiculo.nombre">
              <br>
              <label>Descripcion: </label>
              <input type="text" v-model="tipovehiculo.descripcion">
              <br>
              <label>Estado: </label>
              <input type="text" v-model="tipovehiculo.estado" placeholder="A/I">
              <br>
              <br>
              <div class="tipovehiculoconsultarmodificar-content-button">
                <button type="submit" v-if="tipovehiculoexists" v-on:click="processTipoVehiculoModificar">Modificar</button>
                <button type="submit" v-if="tipovehiculoexists" v-on:click="processTipoVehiculoEliminar">Eliminar</button>
              </div>
            </form>
        </div>
    </div>
</template>

<script>
import gql from "graphql-tag";

export default {
    name: "TipoVehiculoConsultarModificar",

    data: function(){
      return {
        tipovehiculoexists: false,
        tipovehiculo: {
          id: "",
          codigo: "",
          nombre: "",
          descripcion: "",
          estado: ""
        }
      }
    },

    methods:{
      clearData: function(data) {
        this.tipovehiculo.codigo = "";
        this.tipovehiculo.nombre = "";
        this.tipovehiculo.descripcion = "";
        this.tipovehiculo.estado = "";
        this.tipovehiculoexists = false;
      },

      processTipoVehiculoConsultar: async function(){
        this.clearData();
        let tipovehiculovId = this.tipovehiculo.id;

        if (
            localStorage.getItem("token_access") === null ||
            localStorage.getItem("token_refresh") === null
        ) {
            this.$emit("logOut");
            return;
        }
        localStorage.setItem("token_access", "");
        await this.$apollo
        .query({
          query: gql`
            query TipoVehiculoById($tipovehiculoid: Int!) {
                tipoVehiculoById(tipovehiculoid: $tipovehiculoid) {
                    id
                    codigo
                    nombre
                    descripcion
                    estado
                }
            }
          `,
          variables: {
            tipovehiculoid: this.tipovehiculo.id,
          },
        })
        .then(
          response => {
            this.tipovehiculo.codigo = response.data.tipoVehiculoById.codigo;
            this.tipovehiculo.nombre = response.data.tipoVehiculoById.nombre;
            this.tipovehiculo.descripcion = response.data.tipoVehiculoById.descripcion;
            this.tipovehiculo.estado = response.data.tipoVehiculoById.estado;
            this.tipovehiculoexists = true;
        })
        .catch(function(error){
            console.log(error)
            alert("Error consultando el tipo de vehículo.");
        })
      },

      processTipoVehiculoModificar: async function(){
        let tipovehiculoId = this.tipovehiculo.id;
        await this.$apollo
        .mutate({
          mutation: gql`
            mutation UpdateTipoVehiculo($tipoVehiculoInput: TipoVehiculoInput!) {
                updateTipoVehiculo(tipoVehiculoInput: $tipoVehiculoInput) {
                    id
                    codigo
                    nombre
                    descripcion
                    estado
                }
            }
          `,
          variables: {
            tipoVehiculoInput: this.tipovehiculo,
          },
        })
        .then((response) => {
            alert("Tipo Vehículo actualizado correctamente.");
            this.tipovehiculoexists = false;
            this.clearData();
        })
        .catch((error) => {
            console.log(error)
            alert("Error actualizando El tipo Vehículo.");
        });
      },

      processTipoVehiculoEliminar: async function(){
        let tipovehiculoId = this.tipovehiculo.id;
        await this.$apollo
        .mutate({
          mutation: gql`
            mutation Mutation($tipovehiculoid: Int!) {
              deleteTipoVehiculo(tipovehiculoid: $tipovehiculoid)
            }
          `,
          variables: {
            tipovehiculoid: this.tipovehiculo.id,
          },
        })
        .then((response) => {
            alert("Tipo vehículo eliminado correctamente.");
            this.tipovehiculoexists = false;
            this.clearData();
        })
        .catch((error) => {
            console.log(error)
            alert("Error eliminando el tipo vehículo.");
        });
      },      
    },

    created: function(){
        if (localStorage.getItem("tipovehiculoid") != null && localStorage.getItem("tipovehiculoid") != ""){
          this.tipovehiculo.id = parseInt(localStorage.getItem("tipovehiculoid"));
          this.processTipoVehiculoConsultar();
        }
        
        let dataTipoVehiculoConsultarModificar = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown active',
                        vehiculo: 'dropdown',
                        ciudad: 'dropdown',
                        ruta: 'dropdown',
                        tarifa: 'dropdown',
                        consulta: 'dropdown',
                        ventas: 'dropdown',
                        login: '',
                        signup: '',
                    }
        this.$emit('completedTipoVehiculoConsultarModificar', dataTipoVehiculoConsultarModificar)
    },
}
</script>

<style>
  .tipovehiculoconsultarmodificar-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
  }
  .tipovehiculoconsultarmodificar-content{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tipovehiculoconsultarmodificar-content h2{
    text-align: center;
  }
  .tipovehiculoconsultarmodificar-content .new4{
    border-inline: 160px solid #35BEAC;
  }
  .tipovehiculoconsultarmodificar-content .tipovehiculoconsultarmodificar-form1{
    width: 70%;
  }
  .tipovehiculoconsultarmodificar-content .tipovehiculoconsultarmodificar-form1 label{
    display: inline-block;
    width: 30px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .tipovehiculoconsultarmodificar-content .tipovehiculoconsultarmodificar-form1 input{
    display: inline-block;
    width: 30%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .tipovehiculoconsultarmodificar-content .tipovehiculoconsultarmodificar-form1 button{
    display: inline-block;
    width: 40%;
    height: 25px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 0 5px 0;
    justify-content: center;
    font-weight: bold;
  }
  .tipovehiculoconsultarmodificar-content .tipovehiculoconsultarmodificar-form1 button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
  .tipovehiculoconsultarmodificar-content .tipovehiculoconsultarmodificar-form2 label{
    display: inline-block;
    width: 80px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .tipovehiculoconsultarmodificar-content .tipovehiculoconsultarmodificar-form2 input{
    display: inline-block;
    width: 60%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .tipovehiculoconsultarmodificar-content-button{
    text-align: center;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
  }
  .tipovehiculoconsultarmodificar-content .tipovehiculoconsultarmodificar-form2 button{
    display: inline-block;
    width: 40%;
    height: 25px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 0 5px 0;
    justify-content: center;
    font-weight: bold;
  }
  .tipovehiculoconsultarmodificar-content .tipovehiculoconsultarmodificar-form2 button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
</style>