<template>
    <div class="tipovehiculos-main-component">
        <div class="tipovehiculos-content">
            <h2>Listado Tipos de Vehículos</h2>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr class="trHeader">
                        <th> </th>
                        <th> Id</th>
                        <th> Código</th>
                        <th> Nombre</th>
                        <th> Descripción</th>
                        <th> Estado</th>
                    </tr>
                </thead>
                <tr class="trData" v-for="tipovehiculos in tipovehiculos" v-on:click="processTipoVehiculoConsultar(tipovehiculos.id)">
                    <td v-for="tipovehiculo in tipovehiculos" >
                        {{ tipovehiculo }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script >
import gql from "graphql-tag";

	export default {
		data: function(){
			return {
				tipovehiculos: []
			}
		},
        methods: {
            processTipoVehiculoConsultar: function(tipovehiculoid){
                this.$emit('processTipoVehiculoConsultar', tipovehiculoid)
            },

            processTipoVehiculos: async function(){
                if (
                    localStorage.getItem("token_access") === null ||
                    localStorage.getItem("token_refresh") === null
                ) {
                    this.$emit("logOut");
                    return;
                }
                localStorage.setItem("token_access", "");
                await this.$apollo
                .query({
                    query: gql`
                        query TipoVehiculoAll {
                            tipoVehiculoAll {
                                id
                                codigo
                                nombre
                                descripcion
                                estado
                            }
                        }
                    `,
                    variables: {
                    },
                })
                .then(
                    response => {
                        this.tipovehiculos = response.data.tipoVehiculoAll
                        console.log(response)
                    })
                .catch(function(error){
                    console.log(error)
                })
            }
        },
		created () {
			this.processTipoVehiculos();
            let dataTipoVehiculos = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown',
                        vehiculo: 'dropdown',
                        ciudad: 'dropdown',
                        ruta: 'dropdown',
                        tarifa: 'dropdown',
                        consulta: 'dropdown active',
                        ventas: 'dropdown',
                        login: '',
                        signup: '',
                    }
            this.$emit('completedTipoVehiculos', dataTipoVehiculos)
		}
	}
</script>

<style type="text/css">
.tipovehiculos-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
}
.tipovehiculos-content{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}	
.tipovehiculos-content ul{
    list-style: none;
}
.tipovehiculos-content li{
    display: inline;
}
.tipovehiculos-content table{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	margin: 0 auto;
	width: 50%;
	line-height: 25px;
}
.tipovehiculos-content table th{
	background: #35BEAC;
	-webkit-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	border-bottom: 3pt solid #35BEAC;
}
.tipovehiculos-content table th:first-child{
	padding: 10px;
	text-align: left;
}
.tipovehiculos-content table th:nth-last-child(-n+2){
	text-align: center;
}
.tipovehiculos-content tr{
	background: #d1f3ef;
	opacity: 0.8;
}
.tipovehiculos-content .trData:hover{
	opacity: 1;
}
.tipovehiculos-content tr td:first-child{
	text-align: left;
}
.tipovehiculos-content tr td:nth-last-child(-n+2){
	text-align: center;
}
.tipovehiculos-content td{
	padding: 5px;
	color:black;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.tipovehiculos-content .trData:nth-last-child(-n+10):hover{
	transform: scale(1.2);
}
</style>