<template>
    <div class="vehiculoconsultarmodificar-main-component">
        <div class="vehiculoconsultarmodificar-content">
            <h2>Consultar/Modificar Vehículos</h2>
            <br>
            <form class="vehiculoconsultarmodificar-form1" v-on:submit.prevent="">
              <label>ID: </label>
              <input type="number" v-model="vehiculo.id">
              <button type="submit" v-on:click="processVehiculoConsultar">Consultar</button>
            </form>
            <br>
            <hr class="new4">
            <br>
            <form class="vehiculoconsultarmodificar-form2" v-on:submit.prevent="">
              <label>Matricula: </label>
              <input type="text" v-model="vehiculo.matricula">
              <br>
              <label>Modelo: </label>
              <input type="text" v-model="vehiculo.modelo">
              <br>
              <label>Color: </label>
              <input type="text" v-model="vehiculo.color">
              <br>
              <label>Estado: </label>
              <input type="text" v-model="vehiculo.estado" placeholder="A/I">
              <br>
              <label>Disponibilidad: </label>
              <input type="text" v-model="vehiculo.disponibilidad" placeholder="A/I">
              <br>              
              <label>Fecha: </label>
              <input type="date" v-model="vehiculo.fecha">
              <br>
              <label>Empresa: </label>
              <input type="text" v-model="vehiculo.empresa">
              <br>
              <label>T.Vehículo: </label>
              <input type="number" v-model="vehiculo.tipovehiculo">
              <br>
              <label>Usuario: </label>
              <input type="number" v-model="vehiculo.usuario">
              <br>              
              <br>
              <div class="vehiculoconsultarmodificar-content-button">
                <button type="submit" v-if="vehiculoexists" v-on:click="processVehiculoModificar">Modificar</button>
                <button type="submit" v-if="vehiculoexists" v-on:click="processVehiculoEliminar">Eliminar</button>
              </div>
            </form>
        </div>
    </div>
</template>

<script>
import gql from "graphql-tag";

export default {
    name: "VehiculoConsultarModificar",

    data: function(){
      return {
        vehiculoexists: false,
        vehiculo: {
          id: "",
          matricula: "",
          modelo: "",
          color: "",
          estado: "",
          disponibilidad: "",
          fecha: (new Date()).toJSON().toString(),
          empresa: "",
          tipovehiculo: "",
          usuario: ""
        }
      }
    },

    methods:{
      clearData: function(data) {
        this.vehiculo.matricula = "";
        this.vehiculo.modelo = "";
        this.vehiculo.color = "";
        this.vehiculo.estado = "";
        this.vehiculo.disponibilidad = "";
        this.vehiculo.fecha = "";
        this.vehiculo.empresa = "";
        this.vehiculo.tipovehiculo = "";
        this.vehiculo.usuario = "";
        this.vehiculoexists = false;
      },

      processVehiculoConsultar: async function(){
        this.clearData();
        let vehiculoId = this.vehiculo.id;

        if (
            localStorage.getItem("token_access") === null ||
            localStorage.getItem("token_refresh") === null
        ) {
            this.$emit("logOut");
            return;
        }
        localStorage.setItem("token_access", "");
        await this.$apollo
        .query({
          query: gql`
            query VehiculoById($vehiculoid: Int!) {
                vehiculoById(vehiculoid: $vehiculoid) {
                    id
                    matricula
                    modelo
                    color
                    estado
                    disponibilidad
                    fecha
                    empresa
                    tipovehiculo
                    usuario
                }
            }
          `,
          variables: {
            vehiculoid: this.vehiculo.id,
          },
        })
        .then(
          response => {
            this.vehiculo.matricula = response.data.vehiculoById.matricula;
            this.vehiculo.modelo = response.data.vehiculoById.modelo;
            this.vehiculo.color = response.data.vehiculoById.color;
            this.vehiculo.estado = response.data.vehiculoById.estado;
            this.vehiculo.disponibilidad = response.data.vehiculoById.disponibilidad;
            this.vehiculo.fecha = response.data.vehiculoById.fecha.substring(0, 10);
            this.vehiculo.empresa = response.data.vehiculoById.empresa;
            this.vehiculo.tipovehiculo = response.data.vehiculoById.tipovehiculo;
            this.vehiculo.usuario = response.data.vehiculoById.usuario;
            this.vehiculoexists = true;
        })
        .catch(function(error){
            console.log(error)
            alert("Error consultando el vehículo.");
        })
      },

      processVehiculoModificar: async function(){
        let vehiculoId = this.vehiculo.id;
        await this.$apollo
        .mutate({
          mutation: gql`
            mutation UpdateVehiculo($vehiculoInput: VehiculoInput!) {
                updateVehiculo(vehiculoInput: $vehiculoInput) {
                    id
                    matricula
                    modelo
                    color
                    estado
                    disponibilidad
                    fecha
                    empresa
                    tipovehiculo
                    usuario
                }
            }
          `,
          variables: {
            vehiculoInput: this.vehiculo,
          },
        })
        .then((response) => {
            alert("Vehículo actualizado correctamente.");
            this.vehiculoexists = false;
            this.clearData();
        })
        .catch((error) => {
            console.log(error)
            alert("Error actualizando el vehículo.");
        });
      },

      processVehiculoEliminar: async function(){
        let vehiculoId = this.vehiculo.id;
        await this.$apollo
        .mutate({
          mutation: gql`
            mutation Mutation($vehiculoid: Int!) {
              deleteVehiculo(vehiculoid: $vehiculoid)
            }
          `,
          variables: {
            vehiculoid: this.vehiculo.id,
          },
        })
        .then((response) => {
            alert("Vehículo eliminado correctamente.");
            this.vehiculoexists = false;
            this.clearData();
        })
        .catch((error) => {
            console.log(error)
            alert("Error eliminando el vehículo.");
        });
      },      
    },

    created: function(){
        if (localStorage.getItem("vehiculoid") != null && localStorage.getItem("vehiculoid") != ""){
          this.vehiculo.id = parseInt(localStorage.getItem("vehiculoid"));
          this.processVehiculoConsultar();
        }
        
        let dataVehiculoConsultarModificar = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown',
                        vehiculo: 'dropdown active',
                        ciudad: 'dropdown',
                        ruta: 'dropdown',
                        tarifa: 'dropdown',
                        consulta: 'dropdown',
                        ventas: 'dropdown',
                        login: '',
                        signup: '',
                    }
        this.$emit('completedVehiculoConsultarModificar', dataVehiculoConsultarModificar)
    },
}
</script>

<style>
  .vehiculoconsultarmodificar-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
  }
  .vehiculoconsultarmodificar-content{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .vehiculoconsultarmodificar-content h2{
    text-align: center;
  }
  .vehiculoconsultarmodificar-content .new4{
    border-inline: 160px solid #35BEAC;
  }
  .vehiculoconsultarmodificar-content .vehiculoconsultarmodificar-form1{
    width: 70%;
  }
  .vehiculoconsultarmodificar-content .vehiculoconsultarmodificar-form1 label{
    display: inline-block;
    width: 30px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .vehiculoconsultarmodificar-content .vehiculoconsultarmodificar-form1 input{
    display: inline-block;
    width: 30%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .vehiculoconsultarmodificar-content .vehiculoconsultarmodificar-form1 button{
    display: inline-block;
    width: 40%;
    height: 25px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 0 5px 0;
    justify-content: center;
    font-weight: bold;
  }
  .vehiculoconsultarmodificar-content .vehiculoconsultarmodificar-form1 button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
  .vehiculoconsultarmodificar-content .vehiculoconsultarmodificar-form2 label{
    display: inline-block;
    width: 80px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .vehiculoconsultarmodificar-content .vehiculoconsultarmodificar-form2 input{
    display: inline-block;
    width: 60%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .vehiculoconsultarmodificar-content-button{
    text-align: center;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
  }
  .vehiculoconsultarmodificar-content .vehiculoconsultarmodificar-form2 button{
    display: inline-block;
    width: 40%;
    height: 25px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 0 5px 0;
    justify-content: center;
    font-weight: bold;
  }
  .vehiculoconsultarmodificar-content .vehiculoconsultarmodificar-form2 button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
</style>