<template>
    <div class="vehiculocrear-main-component">
        <div class="vehiculocrear-content">
            <h2>Crear Vehículo</h2>
            <br>
            <form class="vehiculocrear-form" v-on:submit.prevent="processVehiculoCrear">
              <label>Id: </label>
              <input type="number" v-model="vehiculo.id">
              <br>
              <label>Matricula: </label>
              <input type="text" v-model="vehiculo.matricula">
              <br>
              <label>Modelo: </label>
              <input type="text" v-model="vehiculo.modelo">
              <br>
              <label>Color: </label>
              <input type="text" v-model="vehiculo.color">
              <br>
              <label>Estado: </label>
              <input type="text" v-model="vehiculo.estado" placeholder="A/I">
              <br>
              <label>Disponibilidad: </label>
              <input type="text" v-model="vehiculo.disponibilidad">
              <br>              
              <label>Fecha: </label>
              <input type="date" v-model="vehiculo.fecha">
              <br>
              <label>Empresa: </label>
              <input type="text" v-model="vehiculo.empresa">
              <br>
              <label>T.Vehículo: </label>
              <input type="number" v-model="vehiculo.tipovehiculo">
              <br>
              <label>Usuario: </label>
              <input type="number" v-model="vehiculo.usuario">
              <br>                  
              <br>
              <dir class="vehiculocrear-content-button">
                <button type="submit">Crear</button>
              </dir>
            </form>
        </div>
    </div>
</template>

<script>
import gql from "graphql-tag";

export default {
    name: "VehiculoCrear",

    data: function(){
      return {
        vehiculo: {
          id: 0,
          matricula: "",
          modelo: "",
          color: "",
          estado: "",
          disponibilidad: "",
          fecha: (new Date()).toJSON().toString(),
          empresa: "",
          tipovehiculo: 0,
          usuario: 0
        }
      }
    },

    methods: {
      clearData: function(data) {
        this.vehiculo.id = 0;
        this.vehiculo.matricula = "";
        this.vehiculo.modelo = "";
        this.vehiculo.color = "";
        this.vehiculo.estado = "";
        this.vehiculo.disponibilidad = "";
        this.vehiculo.fecha = "";
        this.vehiculo.empresa = "";
        this.vehiculo.tipovehiculo = 0;
        this.vehiculo.usuario = 0;

      },

      processVehiculoCrear: async function(){
        await this.$apollo
        .mutate({
          mutation: gql`
            mutation createVehiculo($vehiculo: VehiculoInput) {
              createVehiculo(vehiculoInput: $vehiculo) {
                id
                matricula
                modelo
                color
                estado
                disponibilidad
                fecha
                empresa
                tipovehiculo
                usuario
              }
            }
          `,
          variables: {
            vehiculo: this.vehiculo,
          },
        })
        .then((response) => {
            let dataVehiculoCrear = {
                inicio: '',
                rol: 'dropdown',
                usuario: 'dropdown',
                tipovehiculo: 'dropdown',
                vehiculo: 'dropdown active',
                ciudad: 'dropdown',
                ruta: 'dropdown',
                tarifa: 'dropdown',
                consulta: 'dropdown',
                ventas: 'dropdown',
                login: '',
                signup: '',
            }
            alert("Vehículo creado exitosamente.");
            this.clearData();
            this.$emit('processedVehiculoCrear', dataVehiculoCrear)
        })
        .catch((error) => {
            console.log(error)
            alert("Error en la creacion del vehículo.");
        });
      }
    },

    created: function(){
        let dataVehiculoCrear = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown',
                        vehiculo: 'dropdown active',
                        ciudad: 'dropdown',
                        ruta: 'dropdown',
                        tarifa: 'dropdown',
                        consulta: 'dropdown',
                        ventas: 'dropdown',
                        login: '',
                        signup: '',
                    }
        this.$emit('completedVehiculoCrear', dataVehiculoCrear)
    },
}
</script>

<style>
  
  .vehiculocrear-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
  }
  .vehiculocrear-content{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .vehiculocrear-content h2{
    text-align: center;
  }
  .vehiculocrear-content .vehiculocrear-form{
    width: 70%;
  }
  .vehiculocrear-content label{
    display: inline-block;
    width: 80px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .vehiculocrear-content input{
    display: inline-block;
    width: 60%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .vehiculocrear-content-button{
    text-align: center;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
  }
  .vehiculocrear-content button{
    display: inline-block;
    width: 80%;
    height: 40px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
    justify-content: center;
    font-weight: bold;
  }
  .vehiculocrear-content button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
</style>