<template>
    <div class="vehiculos-main-component">
        <div class="vehiculos-content">
            <h2>Vehículos</h2>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr class="trHeader">
                        <th> </th>
                        <th> Id</th>
                        <th> Matricula</th>
                        <th> Modelo</th>
                        <th> Color</th>
                        <th> Estado</th>
                        <th> Disponibilidad</th>
                        <th> Fecha</th>
                        <th> Empresa</th>
                        <th> T.Vehículo</th>
                        <th> Usuario</th>
                    </tr>
                </thead>
                <tr class="trData" v-for="vehiculos in vehiculos" v-on:click="processVehiculoConsultar(vehiculos.id)">
                    <td v-for="vehiculo in vehiculos" >
                        {{ vehiculo }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script >
import gql from "graphql-tag";

	export default {
		data: function(){
			return {
				vehiculos: []
			}
		},
        methods: {
            processVehiculoConsultar: function(vehiculoid){
                this.$emit('processVehiculoConsultar', vehiculoid)
            },

            processVehiculos: async function(){
                if (
                    localStorage.getItem("token_access") === null ||
                    localStorage.getItem("token_refresh") === null
                ) {
                    this.$emit("logOut");
                    return;
                }
                localStorage.setItem("token_access", "");
                await this.$apollo
                .query({
                    query: gql`
                        query VehiculoAll {
                            vehiculoAll {
                                id
                                matricula
                                modelo
                                color
                                estado
                                disponibilidad
                                fecha
                                empresa
                                tipovehiculo
                                usuario
                            }
                        }
                    `,
                    variables: {
                    },
                })
                .then(
                    response => {
                        this.vehiculos = response.data.vehiculoAll
                        console.log(response)
                    })
                .catch(function(error){
                    console.log(error)
                })
            }
        },
		created () {
			this.processVehiculos();
            let dataVehiculos = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown',
                        vehiculo: 'dropdown',
                        ciudad: 'dropdown',
                        ruta: 'dropdown',
                        tarifa: 'dropdown',
                        consulta: 'dropdown active',
                        ventas: 'dropdown',
                        login: '',
                        signup: '',
                    }
            this.$emit('completedVehiculos', dataVehiculos)
		}
	}
</script>

<style type="text/css">
.vehiculos-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
}
.vehiculos-content{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}	
.vehiculos-content ul{
    list-style: none;
}
.vehiculos-content li{
    display: inline;
}
.vehiculos-content table{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	margin: 0 auto;
	width: 50%;
	line-height: 25px;
}
.vehiculos-content table th{
	background: #35BEAC;
	-webkit-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	border-bottom: 3pt solid #35BEAC;
}
.vehiculos-content table th:first-child{
	padding: 10px;
	text-align: left;
}
.vehiculos-content table th:nth-last-child(-n+2){
	text-align: center;
}
.vehiculos-content tr{
	background: #d1f3ef;
	opacity: 0.8;
}
.vehiculos-content .trData:hover{
	opacity: 1;
}
.vehiculos-content tr td:first-child{
	text-align: left;
}
.vehiculos-content tr td:nth-last-child(-n+2){
	text-align: center;
}
.vehiculos-content td{
	padding: 5px;
	color:black;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.vehiculos-content .trData:nth-last-child(-n+10):hover{
	transform: scale(1.2);
}
</style>