<template>
    <div class="ventasconsultarmodificar-main-component">
        <div class="ventasconsultarmodificar-content">
            <h2>Consultar/Modificar Ventas</h2>
            <br>
            <form class="ventasconsultarmodificar-form1" v-on:submit.prevent="">
              <label>ID: </label>
              <input type="number" v-model="venta.id">
              <button type="submit" v-on:click="processVentasConsultar">Consultar</button>
            </form>
            <br>
            <hr class="new4">
            <br>
            <form class="ventasconsultarmodificar-form2" v-on:submit.prevent="">
              <label>Usuario: </label>
              <input type="text" v-model="venta.username">
              <br>
              <label>Vehiculo: </label>
              <input type="number" v-model="venta.vehiculoid">
              <br>
              <label>Ruta: </label>
              <input type="number" v-model="venta.rutaid">
              <br>
              <label>Pasajeros: </label>
              <input type="number" v-model="venta.pasajeros">
              <br>
              <label>Estado: </label>
              <input type="text" v-model="venta.estado" placeholder="A/X">
              <br>
              <br>
              <div class="ventasconsultarmodificar-content-button">
                <button type="submit" v-if="ventaexists" v-on:click="processVentasModificar">Modificar</button>
                <button type="submit" v-if="ventaexists" v-on:click="processVentasEliminar">Eliminar</button>
              </div>
            </form>
        </div>
    </div>
</template>

<script>
import gql from "graphql-tag";

export default {
    name: "VentasConsultarModificar",

    data: function(){
      return {
        ventaexists: false,
        venta: {
          id: "",
          username: "",
          vehiculoid: "",
          rutaid: "",
          pasajeros: "",
          estado: ""
        }
      }
    },

    methods:{
      clearData: function(data) {
        this.venta.username = "";
        this.venta.vehiculoid = "";
        this.venta.rutaid = "";
        this.venta.pasajeros = "";
        this.venta.estado = "";
        this.ventaexists = false;
      },

      processVentasConsultar: async function(){
        this.clearData();
        let ventaId = this.venta.id;

        if (
            localStorage.getItem("token_access") === null ||
            localStorage.getItem("token_refresh") === null
        ) {
            this.$emit("logOut");
            return;
        }
        localStorage.setItem("token_access", "");
        
        await this.$apollo
        .query({
          query: gql`
            query VentaById($ventaid: Int!) {
                ventaById(ventaid: $ventaid) {
                    id
                    username
                    vehiculoid
                    rutaid
                    pasajeros
                    estado
                }
            }
          `,
          variables: {
            ventaid: this.venta.id,
          },
        })
        .then(
          response => {
            this.venta.username = response.data.ventaById.username;
            this.venta.vehiculoid = response.data.ventaById.vehiculoid;
            this.venta.rutaid = response.data.ventaById.rutaid;
            this.venta.pasajeros = response.data.ventaById.pasajeros;
            this.venta.estado = response.data.ventaById.estado;
            this.ventaexists = true;
        })
        .catch(function(error){
            console.log(error)
            alert("Error consultando la venta.");
        })
      },

      processVentasModificar: async function(){
        let ventaId = this.venta.id;
        await this.$apollo
        .mutate({
          mutation: gql`
            mutation UpdateVenta($ventaInput: VentaInput!) {
                updateVenta(ventaInput: $ventaInput) {
                    Respuesta
                }
            }
          `,
          variables: {
            ventaInput: this.venta,
          },
        })
        .then((response) => {
            alert("Venta actualizada correctamente.");
            this.ventaexists = false;
            this.clearData();
        })
        .catch((error) => {
            console.log(error)
            alert("Error actualizando la venta.");
        });
      },

      processVentasEliminar: async function(){
        let ventaId = this.venta.id;
        await this.$apollo
        .mutate({
          mutation: gql`
            mutation DeleteVenta($ventaid: Int!) {
                deleteVenta(ventaid: $ventaid) {
                    Respuesta
                }
            }
          `,
          variables: {
            ventaid: this.venta.id,
          },
        })
        .then((response) => {
            alert("Venta eliminada correctamente.");
            this.ventaexists = false;
            this.clearData();
        })
        .catch((error) => {
            console.log(error)
            alert("Error eliminando la ruta.");
        });
      },      
    },

    created: function(){
        if (localStorage.getItem("ventaid") != null && localStorage.getItem("ventaid") != ""){
          this.venta.id = parseInt(localStorage.getItem("ventaid"));
          this.processVentasConsultar();
        }
        
        let dataVentasConsultarModificar = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown',
                        vehiculo: 'dropdown',
                        ciudad: 'dropdown',
                        ruta: 'dropdown',
                        tarifa: 'dropdown',
                        consulta: 'dropdown',
                        ventas: 'dropdown active',
                        login: '',
                        signup: '',
                    }
        this.$emit('completedVentasConsultarModificar', dataVentasConsultarModificar)
    },
}
</script>

<style>
  .ventasconsultarmodificar-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
  }
  .ventasconsultarmodificar-content{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ventasconsultarmodificar-content h2{
    text-align: center;
  }
  .ventasconsultarmodificar-content .new4{
    border-inline: 160px solid #35BEAC;
  }
  .ventasconsultarmodificar-content .ventasconsultarmodificar-form1{
    width: 70%;
  }
  .ventasconsultarmodificar-content .ventasconsultarmodificar-form1 label{
    display: inline-block;
    width: 30px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .ventasconsultarmodificar-content .ventasconsultarmodificar-form1 input{
    display: inline-block;
    width: 30%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .ventasconsultarmodificar-content .ventasconsultarmodificar-form1 button{
    display: inline-block;
    width: 40%;
    height: 25px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 0 5px 0;
    justify-content: center;
    font-weight: bold;
  }
  .ventasconsultarmodificar-content .ventasconsultarmodificar-form1 button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
  .ventasconsultarmodificar-content .ventasconsultarmodificar-form2 label{
    display: inline-block;
    width: 80px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .ventasconsultarmodificar-content .ventasconsultarmodificar-form2 input{
    display: inline-block;
    width: 60%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .ventasconsultarmodificar-content-button{
    text-align: center;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
  }
  .ventasconsultarmodificar-content .ventasconsultarmodificar-form2 button{
    display: inline-block;
    width: 40%;
    height: 25px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 2px 0 5px 0;
    justify-content: center;
    font-weight: bold;
  }
  .ventasconsultarmodificar-content .ventasconsultarmodificar-form2 button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
</style>