<template>
    <div class="ventacrear-main-component">
        <div class="ventacrear-content">
            <h2>Crear Ventas</h2>
            <br>
            <form class="ventacrear-form" v-on:submit.prevent="processVentasCrear">
              <input type="hidden" v-model="venta.id">
              <br>
              <label>Usuario: </label>
              <input type="text" v-model="venta.username">
              <br>
              <label>Vehiculo: </label>
              <input type="number" v-model="venta.vehiculoid">
              <br>
              <label>Ruta: </label>
              <input type="number" v-model="venta.rutaid">
              <br>
              <label>Pasajeros: </label>
              <input type="number" v-model="venta.pasajeros">
              <br>
              <label>Estado: </label>
              <input type="text" v-model="venta.estado" placeholder="A/X">
              <br>
              <br>
              <dir class="ventacrear-content-button">
                <button type="submit">Crear</button>
              </dir>
            </form>
        </div>
    </div>
</template>

<script>
import gql from "graphql-tag";

export default {
    name: "VentasCrear",

    data: function(){
      return {
        venta: {
          id: 0,
          username: "",
          vehiculoid: 0,
          rutaid: 0,
          pasajeros: 0,
          estado: ""
        }
      }
    },

    methods: {
      clearData: function(data) {
        this.venta.id = 0;
        this.venta.username = "";
        this.venta.vehiculoid = 0;
        this.venta.rutaid = 0;
        this.venta.pasajeros = 0;
        this.venta.estado = "";
      },

      processVentasCrear: async function(){
        if (
          localStorage.getItem("token_access") === null ||
          localStorage.getItem("token_refresh") === null
        ) {
          this.$emit("logOut");
          return;
        }
        localStorage.setItem("token_access", "");
        await this.$apollo
        .mutate({
          mutation: gql`
            mutation CreateVenta($ventaInput: VentaInput) {
              createVenta(ventaInput: $ventaInput)
            }
          `,
          variables: {
            ventaInput: this.venta,
          },
        })
        .then((response) => {
            let dataventacrear = {
                inicio: '',
                rol: 'dropdown',
                usuario: 'dropdown',
                tipovehiculo: 'dropdown',
                vehiculo: 'dropdown',
                ciudad: 'dropdown',
                ruta: 'dropdown',
                tarifa: 'dropdown',
                consulta: 'dropdown',
                ventas: 'dropdown active',
                login: '',
                signup: '',
            }
            alert("Venta realizada exitosamente. Id: " + response.data.createVenta);
            this.clearData();
            this.$emit('processedVentasCrear', dataventacrear)
        })
        .catch((error) => {
            console.log(error)
            alert("Error al realizar la venta.");
        });
      }
    },

    created: function(){
        let dataventacrear = {
                        inicio: '',
                        rol: 'dropdown',
                        usuario:'dropdown',
                        tipovehiculo: 'dropdown',
                        vehiculo: 'dropdown',
                        ciudad: 'dropdown',
                        ruta: 'dropdown',
                        tarifa: 'dropdown',
                        consulta: 'dropdown',
                        ventas: 'dropdown active',
                        login: '',
                        signup: '',
                    }
        this.$emit('completedVentasCrear', dataventacrear)
    },
}
</script>

<style>
  
  .ventacrear-main-component{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Arial';
  }
  .ventacrear-content{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ventacrear-content h2{
    text-align: center;
  }
  .ventacrear-content .ventacrear-form{
    width: 70%;
  }
  .ventacrear-content label{
    display: inline-block;
    width: 80px;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 3px;
    font-weight: bold;
  }
  .ventacrear-content input{
    display: inline-block;
    width: 60%;
    height: 25px;
    box-sizing: border-box;
    margin: 3px 0;
  }
  .ventacrear-content-button{
    text-align: center;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
  }
  .ventacrear-content button{
    display: inline-block;
    width: 80%;
    height: 40px;
    color: #E5E7E9;
    background: #35BEAC;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
    justify-content: center;
    font-weight: bold;
  }
  .ventacrear-content button:hover{
    color: #E5E7E9;
    background: #058d7b;
    border: 1px solid #283747;
  }
</style>