<template>
<div id="app" class="app">
  <div class="header">
    <h1>Transporte C4 - P66 - G7</h1>
    <div class="navbar">
      <a href="#" :class = "inicio" v-if="is_auth" v-on:click="loadHome"> Inicio </a>
      <div :class="rol" v-if="is_auth">
        <button class="dropbtn">Rol
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#" v-on:click="loadRolCrear">Crear</a>
          <a href="#" v-on:click="loadRolConsultar">Consultar</a>
        </div>  
      </div>
      <div :class="usuario" v-if="is_auth">
        <button class="dropbtn">Usuario
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Crear</a>
          <a href="#">Consultar/Modificar</a>
        </div>  
      </div>
      <div :class="tipovehiculo" v-if="is_auth">
        <button class="dropbtn">Tipo Veh
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#" v-on:click="loadTipoVehiculoCrear">Crear</a>
          <a href="#" v-on:click="loadTipoVehiculoConsultarModificar">Consultar/Modificar</a>
        </div>  
      </div>
      <div :class="vehiculo" v-if="is_auth">
        <button class="dropbtn">Vehiculo
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#" v-on:click="loadVehiculoCrear">Crear</a>
          <a href="#" v-on:click="loadVehiculoConsultarModificar">Consultar/Modificar</a>
        </div>  
      </div>
      <div :class = "ciudad" v-if="is_auth">
        <button class="dropbtn">Ciudad
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#" v-on:click="loadCiudadCrear">Crear</a>
          <a href="#" v-on:click="loadCiudadConsultarModificar">Consultar/Modificar</a>
        </div>  
      </div>      
      <div :class = "ruta" v-if="is_auth">
        <button class="dropbtn">Ruta
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#" v-on:click="loadRutaCrear">Crear</a>
          <a href="#" v-on:click="loadRutaConsultarModificar">Consultar/Modificar</a>
        </div>
      </div>
      <div :class="tarifa" v-if="is_auth">
        <button class="dropbtn">Tarifa
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#" v-on:click="loadTarifaCrear">Crear</a>
          <a href="#" v-on:click="loadTarifaConsultarModificar">Consultar/Modificar</a>
        </div>
      </div>
      <div :class = "ventas" v-if="is_auth">
        <button class="dropbtn">Ventas
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#" v-on:click="loadVentasCrear">Crear</a>
          <a href="#" v-on:click="loadVentasConsultarModificar">Consultar/Modificar</a>
        </div>
      </div>
      <div :class = "consulta" v-if="is_auth">
        <button class="dropbtn">Consultas
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#" v-on:click="loadRutas">Rutas</a>
          <a href="#" v-on:click="loadTipoVehiculos">T.Vehiculos</a>
          <a href="#" v-on:click="loadVehiculos">Vehiculos</a>
          <a href="#" v-on:click="loadCiudades">Ciudades</a>
          <a href="#" v-on:click="loadTarifas">Tarifas</a>
          <a href="#" v-on:click="loadVentas">Ventas</a>
        </div>
      </div>      
      <a href="#" v-if="is_auth" v-on:click="logOut"> Salir </a>
      <a href="#" :class = "login" v-if="!is_auth" v-on:click="loadLogIn">Acceder</a>
      <a href="#" :class = "signup" v-if="!is_auth" v-on:click="loadSignUp">Registrarse</a>
    </div>
  </div>
  <div class="main-component">
    <router-view
      v-on:completedHome="completedHome"
      v-on:completedRutaCrear="completedRutaCrear"
      v-on:completedTipoVehiculoCrear="completedTipoVehiculoCrear"
      v-on:completedVehiculoCrear="completedVehiculoCrear"
      v-on:completedCiudadCrear="completedCiudadCrear"
      v-on:completedRutaConsultarModificar="completedRutaConsultarModificar"
      v-on:completedTipoVehiculoConsultarModificar="completedTipoVehiculoConsultarModificar"
      v-on:completedVehiculoConsultarModificar="completedVehiculoConsultarModificar"
      v-on:completedCiudadConsultarModificar="completedCiudadConsultarModificar"
      v-on:completedTarifaConsultarModificar="completedTarifaConsultarModificar"
      v-on:processedRutaCrear="processedRutaCrear"
      v-on:processedTipoVehiculoCrear="processedTipoVehiculoCrear"
      v-on:processedVehiculoCrear="processedVehiculoCrear"
      v-on:processedCiudadCrear="processedCiudadCrear"
      v-on:completedRutaRutas="completedRutaRutas"
      v-on:completedTarifaCrear="completedTarifaCrear"
      v-on:processedTarifaCrear="processedTarifaCrear"
      v-on:completedTipoVehiculos="completedTipoVehiculos"
      v-on:completedVehiculos="completedVehiculos"
      v-on:completedCiudades="completedCiudades"
      v-on:completedTarifas="completedTarifas"
      v-on:processRutaConsultar="processRutaConsultar"
      v-on:processTipoVehiculoConsultar="processTipoVehiculoConsultar"
      v-on:processVehiculoConsultar="processVehiculoConsultar"
      v-on:processCiudadConsultar="processCiudadConsultar"
      v-on:processTarifaConsultar="processTarifaConsultar"
      v-on:completedRolConsultar="completedRolConsultar"
      v-on:completedRolCrear="completedRolCrear"
      v-on:completedVentasCrear="completedVentasCrear"
      v-on:processedVentasCrear="processedVentasCrear"
      v-on:completedVentasConsultarModificar="completedVentasConsultarModificar"
      v-on:completedVentas="completedVentas"
      v-on:processVentasConsultar="processVentasConsultar"
      v-on:completedLogIn="completedLogIn"
      v-on:loadedLogIn="loadedLogIn"
      v-on:completedSignUp="completedSignUp"
      v-on:loadedSignUp="loadedSignUp"
      v-on:logOut="logOut"
    >
    </router-view>
  </div>
</div>
</template>

<script>
export default{
  name: 'App',

  data: function(){
    return{
      inicio: 'dropdown',
      rol:'dropdown',
      usuario: 'dropdown',
      tipovehiculo: 'dropdown',
      vehiculo: 'dropdown',
      ciudad: 'dropdown',
      ruta: 'dropdown',
      tarifa: 'dropdown',
      consulta: 'dropdown',
      ventas: 'dropdown',
      login: 'dropdown',
      signup: 'dropdown',
      is_auth: false,
    }
  },

  methods:{
    setState: function(data) {
      this.inicio = data.inicio;
      this.rol = data.rol;
      this.usuario = data.usuario;
      this.tipovehiculo = data.tipovehiculo;
      this.vehiculo = data.vehiculo;
      this.ciudad = data.ciudad;
      this.ruta = data.ruta;
      this.tarifa = data.tarifa;
      this.consulta = data.consulta;
      this.ventas = data.ventas;
      this.login = data.login;
      this.signup = data.signup;
    },

    verifyAuth: function() {
      this.is_auth = localStorage.getItem("isAuth") || false;

      if (this.is_auth == false)
        this.$router.push({ name: "logIn" });
      else
        this.$router.push({ name: "home" });
    },

    loadLogIn: function () {
      this.$router.push({ name: "logIn" });
    },

    loadSignUp: function () {
      this.$router.push({ name: "signUp" });
    },

    completedLogIn: function (data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      alert("Autenticación Exitosa");
      //this.loadHome();
      this.verifyAuth();
    },

    completedSignUp: function (data) {
      alert("Registro Exitoso");
      this.completedLogIn(data);
    },

    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },

    loadHome: function() {
      this.$router.push({ name: "home" });
    },

    loadRutaCrear: function() {
      this.$router.push({ name: "rutacrear" });
    },  

    loadTipoVehiculoCrear: function() {
      this.$router.push({ name: "tipovehiculocrear" });
    },
    loadTarifaCrear: function() {
      this.$router.push({ name: "tarifacrear" });
    },

    loadVehiculoCrear: function() {
      this.$router.push({ name: "vehiculocrear" });
    },

    loadCiudadCrear: function() {
      this.$router.push({ name: "ciudadcrear" });
    },    

    loadRutas: function() {
      this.$router.push({ name: "rutarutas" });
    },

    loadVentas: function() {
      this.$router.push({ name: "ventas" });
    },

    loadTipoVehiculos: function() {
      this.$router.push({ name: "tipovehiculos" });
    },

    loadVehiculos: function() {
      this.$router.push({ name: "vehiculos" });
    },
    
    loadCiudades: function() {
      this.$router.push({ name: "ciudades" });
    },
    
    loadTarifas: function() {
      this.$router.push({ name: "tarifas" });
    },    

    loadRutaConsultarModificar: function() {
      this.$router.push({ name: "rutaconsultarmodificar" });
    },

    loadVentasConsultarModificar: function() {
      this.$router.push({ name: "ventasconsultarmodificar" });
    },

    loadTipoVehiculoConsultarModificar: function() {
      this.$router.push({ name: "tipovehiculoconsultarmodificar" });
    },

    loadVehiculoConsultarModificar: function() {
      this.$router.push({ name: "vehiculoconsultarmodificar" });
    },

    loadCiudadConsultarModificar: function() {
      this.$router.push({ name: "ciudadconsultarmodificar" });
    },

    loadTarifaConsultarModificar: function() {
      this.$router.push({ name: "tarifaconsultarmodificar" });
    }, 

    loadRolConsultar: function() {
      this.$router.push({ name: "RolConsultar" });
    },

    loadRolCrear: function() {
      this.$router.push({ name: "RolCrear" });
    },

    loadVentasCrear: function() {
      this.$router.push({ name: "ventascrear" });
    },

    completedHome: function(data) {
      this.setState(data);
    },

    completedRutaCrear: function(data) {
      this.setState(data);
    },

    completedTipoVehiculoCrear: function(data) {
      this.setState(data);
    },

    completedVehiculoCrear: function(data) {
      this.setState(data);
    },

    completedVentasCrear: function(data) {
      this.setState(data);
    },

    completedCiudadCrear: function(data) {
      this.setState(data);
    },

    processedRutaCrear: function(data) {
      this.setState(data);
    },
    processedTarifaCrear: function(data) {
      this.setState(data);
    },

    processedTipoVehiculoCrear: function(data) {
      this.setState(data);
    },

    processedVehiculoCrear: function(data) {
      this.setState(data);
    },    

    processedVentasCrear: function(data) {
      this.setState(data);
    },

    processedCiudadCrear: function(data) {
      this.setState(data);
    },    

    processRutaConsultar: function(data) {
      localStorage.setItem("rutaid", data);
      this.$router.push({ name: "rutaconsultarmodificar" });
    },

    processVentasConsultar: function(data) {
      localStorage.setItem("ventaid", data);
      this.$router.push({ name: "ventasconsultarmodificar" });
    },

    processTipoVehiculoConsultar: function(data) {
      localStorage.setItem("tipovehiculoid", data);
      this.$router.push({ name: "tipovehiculoconsultarmodificar" });
    },

    processVehiculoConsultar: function(data) {
      localStorage.setItem("vehiculoid", data);
      this.$router.push({ name: "vehiculoconsultarmodificar" });
    },

    processCiudadConsultar: function(data) {
      localStorage.setItem("ciudadid", data);
      this.$router.push({ name: "ciudadconsultarmodificar" });
    },

    processTarifaConsultar: function(data) {
      localStorage.setItem("tarifaid", data);
      this.$router.push({ name: "tarifaconsultarmodificar" });
    },    

    completedRutaConsultarModificar: function(data) {
      localStorage.setItem("rutaid", "");
      //localStorage.clear();
      this.setState(data);
    },

    completedVentasConsultarModificar: function(data) {
      localStorage.setItem("ventaid", "");
      //localStorage.clear();
      this.setState(data);
    },

    completedTipoVehiculoConsultarModificar: function(data) {
      localStorage.setItem("tipovehiculoid", "");
      //localStorage.clear();
      this.setState(data);
    },

    completedVehiculoConsultarModificar: function(data) {
      localStorage.setItem("vehiculoid", "");
      //localStorage.clear();
      this.setState(data);
    },
    
    completedCiudadConsultarModificar: function(data) {
      localStorage.setItem("ciudadid", "");
      //localStorage.clear();
      this.setState(data);
    },
    
    completedTarifaConsultarModificar: function(data) {
      localStorage.setItem("tarifaid", "");
      //localStorage.clear();
      this.setState(data);
    },

    completedRutaRutas: function(data) {
      this.setState(data);
    },

    completedVentas: function(data) {
      this.setState(data);
    },

    completedTipoVehiculos: function(data) {
      this.setState(data);
    },

    completedVehiculos: function(data) {
      this.setState(data);
    },
    
    completedCiudades: function(data) {
      this.setState(data);
    },

    completedTarifas: function(data) {
      this.setState(data);
    },

    completedRolCrear: function(data) {
      this.setState(data);
    },

    completedRolConsultar: function(data) {
      this.setState(data);
    },
    completedTarifaCrear: function(data) {
      this.setState(data);
    },

    loadedLogIn: function(data) {
      this.setState(data);
    },

    loadedSignUp: function(data) {
      this.setState(data);
    },
  },

  created: function(){
    //this.$router.push({ name: "home" });
    this.verifyAuth()
  },
}
</script>

<style>
 
  .header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    min-height: 100px;
    background-color: #35BEAC;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header h1{
    width: 30%;
    text-align: center;
  }
  .navbar {
    overflow: hidden;
    width: 65%;
    font-family:'Arial';
  }
  .navbar .active{
    background: #FFFFFF;
    opacity: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    border: none;
    width: 80px;
    height: 25px;
    font-size: 14px;
    text-decoration: none;
    background: #FFFFFF;
    margin: 3px;
    margin-top: 2px;
    text-align: center;
    opacity: 0.5;
    color: #4c4c5c;
    font-weight: bold;
    margin-bottom: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
  .navbar a {
    float: left;
    border: none;
    padding: 2px;
    width: 80px;
    height: 20px;
    text-decoration: none;
    background: #FFFFFF;
    margin: 3px;
    margin-top: 2px;
    text-align: center;
    font-size: 14px;
    opacity: 0.5;
    color: #4c4c5c;
    font-weight: bold;
    margin-bottom: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #87cec4;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    font-size: 12px;
    padding: 3px 4px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>